@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 45 28.57% 5.49%;

		--primary: 44.21 33.04% 54.9%;
		--primary-foreground: 45 28.57% 5.49%;

		--card: 0 0% 100%;
		--card-foreground: 45 28.57% 5.49%;

		--popover: 0 0% 100%;
		--popover-foreground: 45 28.57% 5.49%;

		--secondary: 42.86 23.33% 88.24%;
		--secondary-foreground: 0 0% 0%;

		--muted: 42.86 30.43% 95.49%;
		--muted-foreground: 0 0% 40%;

		--accent: 42.86 30.43% 95.49%;
		--accent-foreground: 45 28.57% 8.24%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 42.86 23.33% 88.24%;
		--input: 42 10.87% 81.96%;
		--ring: 44.21 33.04% 54.9%;

		--chart-1: 44.21 33.04% 54.9%;
		--chart-2: 44.31 33.33% 61.76%;
		--chart-3: 44.08 32.89% 70.78%;
		--chart-4: 44.29 33.33% 75.29%;
		--chart-5: 44.12 32.69% 79.61%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 0%;
		--foreground: 43.64 31.43% 93.14%;

		--primary: 44.21 33.04% 54.9%;
		--primary-foreground: 45 28.57% 5.49%;

		--card: 40 9.68% 6.08%;
		--card-foreground: 43.64 31.43% 93.14%;

		--popover: 0 0% 0%;
		--popover-foreground: 43.64 31.43% 93.14%;

		--secondary: 43.85 26.53% 19.22%;
		--secondary-foreground: 0 0% 100%;

		--muted: 0 0% 9.8%;
		--muted-foreground: 0 0% 50.2%;

		--accent: 43.85 26.53% 19.22%;
		--accent-foreground: 43.64 31.43% 93.14%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 45 28.57% 10.98%;
		--input: 45 7.69% 20.39%;
		--ring: 44.21 33.04% 54.9%;

		--chart-1: 44.21 33.04% 54.9%;
		--chart-2: 44.06 26.89% 46.67%;
		--chart-3: 44.4 27.47% 35.69%;
		--chart-4: 44.29 27.27% 30.2%;
		--chart-5: 44.12 26.98% 24.71%;

		--radius: 0.5rem;
	}
}

@layer base {
	@font-face {
		font-family: 'geist-sans';
		src: url('/fonts/Geist/geist.woff2') format('woff');
		font-display: swap;
	}
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-feature-settings:
			'rlig' 1,
			'calt' 1;
	}
}

